body{
    background-color: lightcyan;
    text-align: left;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 30px;
    font-size: 200%;
    font-family: 'Comic Sans MS' , sans-serif;
    
}

section{
    padding: 0px;
}
header,
footer {
    text-align: left;
    background-color: white;
}
p {
    text-align: left;
    padding-top:-50px;
    text-indent: 5ch;
}
h1 {
    text-align: left;
    color: rgb(7, 195, 219);
    background-color: white;
    font-size: 400%;
   
}
h3 {
    text-align: left;
    color: rgb(168, 219, 219);
    background-color: white;
    font-size: 350%;
}

h4 {
    text-align: left;
    color: rgb(168, 219, 219);
    background-color: white;
     font-size: 250%;
}
