body{
    background-color: azure;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: center;
    background-color: gainsboro;
}
p {
    text-align: right;
}
h2,
h3,
h4 {
    color: crimson;
    text-decoration-line: underline;
}